# dependencies
node_modules/

# build outputs
dist/
build/
.vite/
.next/

# environment variables
.env
.env.*

# logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# PDFs / large files
*.pdf
